.container {
  height: calc(100vh - 130px);
  width: calc(100vw - 35vw);
  box-sizing: border-box;
  margin: auto;
  padding: auto;
  border: 20px solid;
  position: relative;
}

.icons {
  position: absolute;
}
.logo-img {
  height: 90px;
  width: 90px;
  filter: drop-shadow(0.5px 0.5px 2px rgb(106, 65, 147)) invert(70%);
}
.social-links {
  top: 0;

  right: 0;
}
.social-links a svg {
  font-size: xx-large;
  cursor: pointer;
  color: var(--color);
  opacity: 0.5;
}
.social-links a svg:hover {
opacity: 1;
transform: scale(1.1);
}
@media screen and (max-width: 900px) {
  .social-links {
    bottom: 0;
    align-items: flex-end;
  }
  .container {
    width: 100vw;
    height: max-content;
    min-height: 100vh;
    padding: 0 0 10px 10px;
    border: 5px solid;
    border-image-slice: 1;
    overflow: scroll;
  }
}
