#contact-container{
 flex-direction: column;
 width: 50%;
 margin: auto;
 padding: auto;
 text-align: center;
}

.credit{
    position: absolute;
    bottom: 55px;
}
@media screen and (max-width: 900px) {
    #contact-container{
        width: 100%;
        margin: 100px 0 40px 0;
        padding: unset;
    }
    #contact-container p{
        width: 90%;
    }
    .credit{
        bottom: 155px;
    }
}