.gradient-border {
  border-image-slice: 20;
  animation: border-color 10s ease-in 10s infinite;
  border-image-source: linear-gradient(
    140deg,
    rgba(120, 62, 169, 0.8) 5%,
    var(--background-color) 10% 90%,
    rgba(169, 121, 84, 0.8) 95%
  );
}
@keyframes border-color {
  0% {
    border-image-source: linear-gradient(
      140deg,
      #783ea9 5%,
      var(--background-color) 10% 90%,
      #a97954 95%
    );
  }
  25% {
    border-image-source: linear-gradient(
      140deg,
      #379747 5%,
      var(--background-color) 10% 90%,
      #574fa3 95%
    );
  }
  50% {
    border-image-source: linear-gradient(
      140deg,
      #379747 5%,
      var(--background-color) 10% 90%,
      #a97954 95%
    );
  }
  75% {
    border-image-source: linear-gradient(
      140deg,
      rgb(120, 62, 169) 5%,
      var(--background-color) 10% 90%,
      #379747 95%
    );
  }
  100% {
    border-image-source: linear-gradient(
      140deg,
      rgb(120, 62, 169) 5%,
      var(--background-color) 10% 90%,
      #379747 95%
    );
  }
}

.inner-container {
  height: 100%;
  width: 100%;
  column-gap: 3%;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  flex-direction: row;
  color: var(--color);
  line-height: 1.6;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.left-container {
  flex: 1 1 55%;
}
.right-container {
  flex: 1 1 35%;
}

.left-container,.right-container{
  box-sizing: border-box;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.customized-heading-color {
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #fff 0,
    hsla(0, 0%, 100%, 0.5) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
}

@media screen and (max-width: 900px) {
  .inner-container {
    row-gap: 30px;
    height: max-content;
    flex-direction: column;
    min-height: 100%;
    margin: 100px 0 40px 0;
    box-sizing: border-box;
  letter-spacing: 0px;
  }
  .left-container {
    flex: 1;
  }
  .right-container {
    flex: 1;
  }
}
