.App {
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  color: var(--color);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  column-gap: 10px;
}
@media screen and (max-width: 900px) {
  .App {
    padding: 0;
    height: max-content;
  }
}
